
 			<?xml version="1.0"?>
 			
 			<model>
 			<name>Aruco tag29</name>
 			<version>1.0</version>
 			<sdf version="1.6">model.sdf</sdf>
 			
 			<author>
 				<name>realjc</name>
 				<email>2904152204@qq.com</email>
 			</author>
 			
 			<description>
 			Aruco tag 29
 			</description>
 			
 			</model>
 					