<launch>
    <!-- Load the contents of the URDF file into the parameter server -->
    <!--<param name="robot_description" textfile="$(find manipulator_description)/xacro/my_robot.urdf" />-->
    
    <!-- Launch Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />

    <!-- Display the robot model in Gazebo -->
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model mycar -param robot_description" />
</launch>
